/* Selectors and Configs */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #000, #1a1a1a, #141414, #252525);
    background-size: 400% 400%;
    color: white;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}



/* Vars */
:root{
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-font: #f0eee4;
    --color-font-dark: #202020;
    --color-bg-yellow: #e1c340;
}

/* Header*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.logotype{
    font-size: 1.5rem;
    margin-left: 35px;
}

.logotype > img{
    width: 40%;
    height: 40%;
}

/* Navigation */

.navigation{
    display: flex;
}


.navigation li a, a.btn-contact{
    display: inline-block;
    width: 100px;
    margin-left: 40px;
    text-align: center;
    border: 2px solid var(--color-white);
    padding: 18px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-font);
    transition: .5s;
    border-radius: 5px;
}

.navigation li a.btn-contact{
    background: var(--color-bg-yellow);
    border: 2px solid var(--color-bg-yellow);
    color: var(--color-white);
}


.navigation li a:hover{
    opacity: 0.5;
}

.navigation li a.btn-contact:hover{
    border: 2px solid var(--color-white);
    opacity: 1;

}

/* Content */
.content-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px; */
    text-align: left;
}

.presentation{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.presentation > div > h1{
    font-size:  4.25rem;
    line-height: 0;
}

.presentation > div > h3{
    font-size:  2.25rem;
    line-height: 0px;
    /* line-height: 36px; só utilizado quando deixar responsivo */
}

.presentation > div > h3 > span{
    font-size: 2.75rem;
    color: var(--color-bg-yellow);
}

.presentation > p{
    margin: 0;
    font-size: 1rem;
    line-height: 24px;
}

.presentation a.btn-contact{
    margin: 10px 0;
    background: linear-gradient(to right, var(--color-bg-yellow) 50%, transparent 50%);
    background-size: 200%;
    background-position: 100%;
    transition: 0.6s;
}
.presentation a.btn-contact:hover{
    background-position: 0%;
}


.photo-home{
    width: 55%;
    display: flex;
    justify-content: end;
}

.photo-home > img{
    width: 58%;
    /* float: right; */
}


@keyframes gradient {
	0% {
		background-position: 0% 45%;
	}
	50% {
		background-position: 100% 45%;
	}
	100% {
		background-position: 0% 45%;
	}
}