/* Selectors and Configs */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #000, #1a1a1a, #141414, #252525);
    background-size: 400% 400%;
    color: white;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

a{
    text-decoration: none;
}



/* Vars */
:root{
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-font: #f0eee4;
    --color-font-dark: #202020;
    --color-bg-yellow: #e1c340;
    --color-bg-dark: #111111;
}

/* Header*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.logotype{
    font-size: 1.5rem;
    margin-left: 35px;
}

.logotype a img{
    width: 40%;
    height: 40%;
}

/* Navigation */

.navigation .main-navigation{
    display: flex;
}


.navigation .main-navigation li a, a.btn-contact, .navigation li.sub-navigation a{
    display: inline-block;
    width: 102px;
    margin-left: 40px;
    text-align: center;
    border: 2px solid var(--color-white);
    padding: 18px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-font);
    transition: .5s;
    border-radius: 5px;
}

.navigation .main-navigation li a.btn-contact{
    background: var(--color-bg-yellow);
    border: 2px solid var(--color-bg-yellow);
    color: var(--color-white);
}


.navigation .main-navigation li a:hover{
    opacity: 0.5;
}

.navigation .main-navigation li a.btn-contact:hover{
    border: 2px solid var(--color-white);
    opacity: 1;

}

.navigation li.sub-navigation{
    position: relative;
    border: none;
    background: none;
    display: none;
}

.navigation li.sub-navigation a{
    color: #fff;
    width: 30px;
    padding: 13px;
    font-size: 1.5rem;
}

.nav-hamb {
    cursor: pointer;
    position: absolute; 
    right: 0;
    top: 100%;
    background-color: var(--color-bg-dark);
    display: none;
    padding: 0;
    margin: 0;
    padding-inline-start: 0px;
}

.nav-hamb > ul li {
    padding: 0;
    width: 150px;
    text-align: center;
}

.sub-navigation .nav-hamb ul li a{
    display: block;
    text-align: center;
    border: none;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    padding: 20px 0;
}


.sub-navigation:hover .nav-hamb{
    display: block;
    font-size: 1rem;
}

.nav-hamb > ul li:hover{
    background-color: rgb(46, 46, 46);
    transition: 0.7s;
}


/* Content */
.content-section, .about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px; */
    text-align: left;
}

.about-section{
    align-items: flex-start;
}

.presentation, .about-content{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 45%;
}

.presentation > div > h1{
    font-size:  4.25rem;
    line-height: 0;
}

.presentation > div > h3{
    font-size:  2.25rem;
    line-height: 0px;
    /* line-height: 36px; só utilizado quando deixar responsivo */
}

.presentation > div > h3 > span{
    font-size: 2.75rem;
    color: var(--color-bg-yellow);
}

.presentation > p, .about-card > p{
    margin: 0;
    font-size: 1rem;
    line-height: 24px;
}

.about-card > p{
    margin-bottom: 20px;
}

.about-card > h1{
    color: var(--color-bg-yellow);
}

.about-card{
    background-color: #141414;
}


.presentation a.btn-contact{
    margin: 10px 0;
    background: linear-gradient(to right, var(--color-bg-yellow) 50%, transparent 50%);
    background-size: 200%;
    background-position: 100%;
    transition: 0.6s;
}
.presentation a.btn-contact:hover{
    background-position: 0%;
}

.photo-home{
    width: 55%;
    display: flex;
    justify-content: end;
}

.photo-home > img{
    width: 58%;
    /* float: right; */
}

.about-card{
    border-radius: 5px;
    overflow-y: auto;
    height: 450px;
    /* border: 2px solid var(--color-white); */
    padding: 30px;
    background-color: #252525;
}

::-webkit-scrollbar-track {
    background-color: #252525;
}
.about-card::-webkit-scrollbar {
    width: 25px;
    height: 10px;
}
.about-card::-webkit-scrollbar-thumb {
    background: var(--color-bg-yellow);
    /* box-shadow: 0 0 10px var(--color-bg-yellow); */
}

@keyframes gradient {
	0% {
		background-position: 0% 45%;
	}
	50% {
		background-position: 100% 45%;
	}
	100% {
		background-position: 0% 45%;
	}
}


@media (max-width: 850px) { 
    .navigation .main-navigation{
        display: none;
    }

    .navigation li.sub-navigation{
        display: block;
    }
 }


/* @media (min-width: 576px) and (max-width: 767.98px) { ... }


@media (min-width: 768px) and (max-width: 991.98px) { ... }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... } */